.setup{
    margin-top: 2rem;
    display: flex;
        &__left-container{
            flex: 1 1 70%;
        }
        &__right-container{
            flex: 1 1 30%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .card{
                flex: none;
            }
            .button{
                margin: 0 1rem;
            }
        }
}