@import "../../styles/variables.scss";
.card{
    &__simulation{
        display: flex;
        background-color: $white;
        flex-wrap: wrap-reverse;
        &__gif_container{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .simulation{
        margin-top: 1rem;
        &__name{
            display: block;
            font-weight: bold;
            color: $black;
        }
        &__partials{
            margin-bottom: 1rem;
            display: block;
            &__label{
                font-weight: bold;
                color: $dark-gray;
                margin-right: .5rem;
                &:not(:first-of-type){
                    margin-left: 1rem;
                }
            }
        }
    }
}